.primary-content { 
	max-width: 100%;
	padding: 1em 3em 1em 3em;
}
/* Homepage Styling*/

#more-site { 
	margin-top: 20em !important;
	margin-bottom: 1em;
	color: #000!important;
	border: none !important;
	font-weight: 800;
	font-size: 1.5em;
	-webkit-transition: all .5s ease !important;
	   -moz-transition: all .5s ease !important;
	    -ms-transition: all .5s ease !important;
	     -o-transition: all .5s ease !important;
	        transition: all .5s ease !important;
}

#more-site:hover a {
		-webkit-transition: all .5s ease !important;
	   -moz-transition: all .5s ease !important;
	    -ms-transition: all .5s ease !important;
	     -o-transition: all .5s ease !important;
	        transition: all .5s ease !important;
}
.more-site-arrow { 
	font-size: 1em !important;
	padding: 0 !important;
	color: #000 !important;
}

#home-page-widgets { 
	padding: 20px 0 20px !important;
}

.homepage-content { 
	padding: 0 3em 2em 3em;
}

/* Video Page Template*/

.videos { 
	background: #E4EAEC;
	border: 4px solid #fff;
	opacity: 0.8;
	-webkit-transition: all .25s ease !important;
	   -moz-transition: all .25s ease !important;
	    -ms-transition: all .25s ease !important;
	     -o-transition: all .25s ease !important;
	        transition: all .25s ease !important;
}

.videos:hover { 
	opacity: 1;
}
.video_name { 
	text-align: center;
	padding: 1em 0 1em 0;
}

.youtube_video { 
	text-align: center;
	padding: 0 0 2em 0;
}

/* End of Video Page Template*/

/* Contact Form Styling */
textarea.wpcf7-form-control.wpcf7-textarea {
max-width: 100% !important;
}

.submit-button { 
	text-align: center;
	background: #D9534F;
	color: #fff;
	width: 200px;
	padding: 1em;
	margin: 0 0 0 1em;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.submit-button:hover { 
	background: #a04140;
}
/* End of Contact Styling */


/* Homepage Widget Styling */

.bavotasan_custom_text_widget i.cronuts_color1 {
  color: #EC008B;
  border-color: #EC048C;
}

.bavotasan_custom_text_widget i.cronuts_color2 {
  color: #FFDD17;
  border-color: #FFDD17;
}

.bavotasan_custom_text_widget i.cronuts_color3 {
  color: #25D9DA;
  border-color: #25D9DA;
}

/* End of Homepage Widget Styling*/

/* Footer Styling */
.social-icons { 
	padding-bottom: 1em;
}

.facebook-icon i { 
	color: #222;
}

.youtube-icon i { 
	color: #222;

}

.twitter-icon i { 
	color: #222;

}

/* End of Footer Styling*/